@font-face {
	font-family: "iconfont";
	src: url('fonts/iconfont.eot');
	src: url('fonts/iconfont.eot?#iefix') format('eot'),
		url('fonts/iconfont.woff2') format('woff2'),
		url('fonts/iconfont.woff') format('woff'),
		url('fonts/iconfont.ttf') format('truetype'),
		url('fonts/iconfont.svg#iconfont') format('svg');
}

.icon:before {
	font-family: "iconfont";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-add-user:before {
	content: "\E001";
}

.icon-alarm:before {
	content: "\E002";
}

.icon-angle-down:before {
	content: "\E003";
}

.icon-angle-left:before {
	content: "\E004";
}

.icon-angle-right:before {
	content: "\E005";
}

.icon-angle-up:before {
	content: "\E006";
}

.icon-calendar:before {
	content: "\E007";
}

.icon-camera:before {
	content: "\E008";
}

.icon-cart:before {
	content: "\E009";
}

.icon-close:before {
	content: "\E00A";
}

.icon-comment:before {
	content: "\E00B";
}

.icon-ellipsis-h:before {
	content: "\E00C";
}

.icon-facebook-square:before {
	content: "\E00D";
}

.icon-facebook:before {
	content: "\E00E";
}

.icon-google:before {
	content: "\E00F";
}

.icon-grid:before {
	content: "\E010";
}

.icon-heart:before {
	content: "\E011";
}

.icon-kakaotalk:before {
	content: "\E012";
}

.icon-locked:before {
	content: "\E013";
}

.icon-login:before {
	content: "\E014";
}

.icon-minus:before {
	content: "\E015";
}

.icon-naver:before {
	content: "\E016";
}

.icon-planes:before {
	content: "\E017";
}

.icon-plus:before {
	content: "\E018";
}

.icon-search:before {
	content: "\E019";
}

.icon-shipping:before {
	content: "\E01A";
}

.icon-sort-down:before {
	content: "\E01B";
}

.icon-star-o:before {
	content: "\E01C";
}

.icon-star:before {
	content: "\E01D";
}

.icon-twitter:before {
	content: "\E01E";
}

.icon-user:before {
	content: "\E01F";
}

.icon-video:before {
	content: "\E020";
}

.icon-write:before {
	content: "\E021";
}
