<i class="icon icon-ic_alarm"></i>
<i class="icon icon-ic_cart"></i>
<i class="icon icon-ic_my"></i>
<i class="icon icon-ic_write"></i>

<footer>
  <p>&copy; 2015 Company, Inc.</p>
</footer>

<script src="assets/js/main.js"></script>

</body>
</html>
